---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Solution from '../components/Solution.astro';
import DXJourney from '../components/DXJourney.astro';
import GetStarted from '../components/GetStarted.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <Header />
  <main>
    <Hero />
    <Solution />
    <DXJourney />
    <GetStarted />
  </main>
  <Footer />
</BaseLayout>
